body,
html {
  margin: 0;
  height: 100vh;
  width: 100%;
  color: #7c7c7c;

  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.sideBar {
  min-width: 300px;
  width: 440px;
  min-height: 100vh;

  /*padding no included*/
  box-sizing: border-box;
  padding: 60px;

  background-color: #f9f6f7;

  user-select: none;
}

.sbTitle {
  font-size: 36px;
  margin-bottom: 40px;
}

.actionList {
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.addTask,
.inboxSection,
.finishedSection {
  padding: 10px;
}

.addTask:hover,
.inboxSection:hover,
.finishedSection:hover {
  border-radius: 10px;
  cursor: pointer;

  background-color: #ffffff;
}

.addTask {
  color: #f2551f;
}

.plus-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f44336;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  position: absolute;
  background-color: white;
  border-radius: 2px;
}

.horizontal {
  width: 60%;
  height: 2px;
}

.vertical {
  width: 2px;
  height: 60%;
}

.inboxSection,
.addTask,
.finishedSection,
.mpTitle,
.addProject {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inboxIcon,
.finishedIcon,
.listIcon {
  width: 26px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.inboxIcon {
  background-image: url("./assets/inboxGray.png");
}

.finishedIcon {
  background-image: url("./assets/tasksGray.png");
}

.myProjects {
  margin-top: 40px;
}

.mpTitle,
.addProject {
  cursor: pointer;
}

.mpTitle {
  font-size: 28px;
  min-width: max-content;
}

.listIcon {
  background-image: url("./assets/caret-down.png");

  transform: rotate(90deg);

  transition: transform 0.3s ease;
}

.addProject {
  padding: 20px;
  font-size: 24px;
  min-width: max-content;

  cursor: pointer;
}

.plus {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
}

.pBar {
  background-color: #7c7c7c;
  border-radius: 2px;
  grid-column: 1;
  grid-row: 1;
}

.pHorizontal {
  width: 16px;
  height: 3px;
}

.pVertical {
  width: 3px;
  height: 16px;
}

/* My Project Animation */

.projects {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.rotated {
  transform: rotate(0deg);
}

/* FORM */

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* aligns buttons to right */
  padding: 20px;
  gap: 20px;
  border: 2px solid #f2551f;
  background-color: #f1f1f1;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  max-width: 400px;
  max-height: fit-content;

  user-select: none;
}

.formRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

label {
  flex: 1;
  font-weight: bold;
  color: #7c7c7c;
}

.data,
button {
  flex: 2;
  padding: 8px 10px;
  background-color: #d9d9d9;
  color: #7c7c7c;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;

  user-select: none;
}

.data:focus {
  border-color: #f2551f;
  outline: none;
}

.form-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

button,
.data.date,
.data.priority,
.data.project {
  cursor: pointer;
}

button:hover {
  background-color: #d9d9d9d7;
}

.hidden {
  width: 100vw;
  height: 100vh;
  position: absolute;

  background-color: rgba(0, 0, 0, 0.05);
}

/*Footer*/

.taskContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;
  background-color: #f9f6f7;
  color: #7c7c7c;

  margin-top: auto;
}

/* Inbox style */

.inboxContainer {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  user-select: none;
}

.title {
  display: flex;
  align-items: center;
  font-size: 32px;

  gap: 10px;
}

/*Tasks Area*/

.checkCircle,
.rewriteIcon,
.deleteIcon,
.plus {
  cursor: pointer;
}

.checkCircle {
  width: 22px;
  height: 22px;
  border-radius: 50%;

  flex-shrink: 0;
}

.greenPriority {
  border: 1px solid #a1f21f;
}

.yellowPriority {
  border: 1px solid #ffd900;
}

.redPriority {
  border: 1px solid #f2551f;
}

.taskTxt {
  font-size: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.due {
  font-size: 12px;
}

.rewriteIcon {
  background-image: url("./assets/edit.png");
}

.deleteIcon {
  background-image: url("./assets/trash.png");
}

/**/

.task {
  display: flex;
  gap: 16px;
  padding: 10px;
}

.due {
  font-size: 14px;
  color: #aaa;
  white-space: nowrap; /* prevent wrapping */
}

.rewriteIcon,
.deleteIcon {
  flex-shrink: 0; /* So they don't get squished */
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
